<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">&nbsp;<span style=color:white><strong>Flipkart</strong></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#">&nbsp;<span style=color:white>Login</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">&nbsp;<span style=color:white>Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">&nbsp;<span style=color:white>About</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              &nbsp;<span style="color:white">More</span>
            </a>
            <ul style=color:white class="dropdown-menu">
              <li><a class="dropdown-item" href="#">24x7 Customer Care</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Download App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Advertise</a></li>
            </ul>
        </ul>
  
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><span style=color:black>Search</span></button>
        </form>
        
      </div>
    </div>
  </nav>